/* Simple drawer for discord's toolbar, hover on the menu to open. */

/* NOTE: this does not work properly on Vesktop */
[class="toolbar__62fb5"]::before {
  content: "∙∙∙"; /* Change this if you want to anything [Default: ∙∙∙] */
  font-size: 110%;
  margin: 0 8px;
  color: var(--text-muted);
}

/* add a menu icon with smooth transition */
[class="toolbar__62fb5"] {
  width: var(--bartender-width); /* Adjust this to 34-45px based on design requirements */
  transition: width 0.5s ease-in-out;
  /* If you pick a new marker, instead of "∙∙∙", you'll need to adjust this value */
}

[class="toolbar__62fb5"]:hover {
  width: var(--animation-size); /* Adjust the width to show the whole section if necessary [default: 21%] */
  /* If you pick a new marker, instead of "∙∙∙", you'll need to adjust this value as well */
}