/* Simple drawer for discord's toolbar, hover over the menu to open. */

/* NOTE: this module does not work properly on Vesktop */

/* add a menu icon to be visble at all times */
[class="toolbar__9293f"]::before {
  content: "∙∙∙"; /* Change this to anything you like [Default: ∙∙∙] */
  font-size: 110%;
  margin: 0 8px;
  color: var(--text-muted);
}

/* decrease width to hide everything but menu icon */
[class="toolbar__9293f"] {
  width: var(--bartender-width); /* Adjust this based on design requirements */
  /* If you pick a new icon, instead of "∙∙∙", you may need to adjust this value */
}

[class="toolbar__9293f"]:hover, /* expand toobar on hover */
[class="toolbar__9293f"]:has(.open__97492, .selected__9293f:not([aria-label="Hide Member List"])) /* keep the toolbar open if an item (e.g., search) is active */
{
  width: unset; /* Adjust the width to show the whole section if necessary [default: 21%] */
  /* If you pick a new marker, instead of "∙∙∙", you may need to adjust this value as well */
}