/* changes to the channel list for better usability */

/* squish channel height/spacing */
[class="link__2ea32"] {
    padding-block: 3px;
}

/* shrink all channel icons */
[class="iconContainer__2ea32"]>svg[role="img"] {
    scale: 0.8;
}

/* squeeze channel list left */
.wrapper__2ea32:not(.typeThread__2ea32) {
    margin-left: 0 !important;
}

.wrapper__29444 {
    padding-left: 8px !important;
}

/* fix threads "spine" */
.spineBorder__5b40b {
    bottom: 20px !important;
    left: 16px;
}

.containerDefault_c69b6d>svg {
    top: 5px;
    left: 16px;
}

.wrapper__2ea32.typeThread__2ea32 {
    margin-left: 28px;
}

/* make unread channel's icons brighter (because the unread indicator is now hidden)*/
.modeUnreadImportant__2ea32 .icon__2ea32,
.modeUnreadImportant__2ea32:hover .icon__2ea32,
.modeSelected__2ea32:hover .icon__2ea32 {
    color: var(--interactive-active);
}

/* dim all category labels */
[class="mainContent__29444"] {
    opacity: 70%;
}

/* hide category dropdown arrows, instead dim label when collapsed */
[class="mainContent__29444"]>[class="icon__29444"] {
    display: none;
}

[class="mainContent__29444"][aria-expanded="false"] {
    opacity: 50% !important;
}