
/* custom chat bar input text  */
.placeholder_dec8c7.slateTextArea_b19976.fontSize16Padding_bcbeae {
    visibility: hidden; /* hide original prompt */
}
.placeholder_dec8c7.slateTextArea_b19976.fontSize16Padding_bcbeae::before {
    visibility: visible; /* show new prompt */
    content: var(--prompt-text) /* enter your desired text here (in quotes) */
    
    /* here are some to get you started :3 */
    
    /* "say something stupid" */
    /* "start a pointless argument" */
    
    ; 
}
