/* Replaces the default emoji picker with any emoji of your choice! */

[aria-label="Select emoji"]::before {
    content: "";
    background-image: var(--image-link); /* replace var() with url("link-to-image") */
    
    /* for example:
    
    background-image: url("https://cdn.discordapp.com/emojis/1226352687914942484.webp");
    
    */

    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20%;
    position: absolute;
    /* Adjust the width or height for the emoji */
    width: 24px;
    height: 24px;
    /* end */
    display: block;
    visibility: visible;
}

/* hide original emoji */
[aria-label="Select emoji"] {
    visibility: hidden;
}