/* replaces the silly default emoji picker with any emoji of your choice! */



[aria-label="Select emoji"]::before {
    content: "";
    background-image: var(--image-link); /* paste your emoji link here (remember to use url("") to enclose your link)*/
        
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20%;
    position: absolute;
    width: 24px;
    height: 24px;
    display: block;
    visibility: visible;
}
[aria-label="Select emoji"] {
    visibility: hidden; /* hide original emjoi */
}
