/* search bar tweaks: increased height, defaults to icon size */
.searchBar__97492 {
    height: 30px !important;
    width: 30px;
    padding: 3px 5px;
    border-radius: 8px;
    cursor: pointer;
}
.icon__97492.iconLayout_fea832.small_fea832 {
    cursor: pointer;
    scale: 1.2;
}